.post {
    background-color: white;
    max-width: 500px;
    border: 1px solid lightgray;
    margin-bottom: 45px;
    margin-left: auto;
    margin-right: auto;
}

.post__image, .post__video {
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.post__text {
    font-weight: normal;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 5px;
}

.with_border {
    border-bottom: 1px solid lightgray;
}

.post__header {
    display: flex;
    align-items: center;
    padding: 20px;
}

.post__avatar {
    margin-right: 10px;
}

.post__comments {
    padding:20px;
    padding-top: 8px;
    padding-bottom: 10px;
}

.post__comment {
    font-size: medium;
}

.post__commentBox {
    display: flex;
    /* margin-top: 10px; */
    border-top: 1px solid lightgray;
}

.post__input {
    flex: 1;
    border: none;
    padding: 10px;
}

.post__button {
    flex: 0;
    border: none;
    color:#6082a3;
    background-color: transparent;
}